.weather-panel {
    height: 35%;

    background-color: #313a4d;
    opacity: 0.9;

    display: flex;
    flex-direction: row;
}

.weather-panel-today {
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.today-icon {
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.today-info {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-temperature {
    text-align: center;
    font-size: 24pt;
    color: white;
    font-family: "Arial", serif;
}

.weather-panel-weekly {
    width: 65%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.day-weather-info {
    display: flex;
    flex-direction: column;
}

.week-temperature {
    text-align: center;
    font-size: 12pt;
    color: white;
    width: 100%;
    font-family: "Arial", serif;
}