.App {
    width: 100vw;
    height: 100vh;

    background-image: url("./assets/background-1920x1080.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-panel {
    height: 65%;
}

.weather-panel {
    height: 35%;

    background-color: #505050;
    opacity: 0.9;

    display: flex;
    flex-direction: row;
}

.weather-panel-today {
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-panel-weekly {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}